go 1.23.4

use (
	./apps/loan
	./libs/auths
	./libs/binders
	./libs/exporters
	./libs/gates
	./libs/parameters
	./libs/queryparams
	./libs/rates
	./libs/repositories
	./libs/schedules
	./libs/transformations
)
